<%= javascript_tag do %>
    window.organizationURL = "<%=j organizations_path %>";
<% end %>

<%= render partial: 'layouts/search_form' %>

<div id="orgs_scroll">
  <div class="table table-bordered">
    <table>
      <div id="organizations">
        <% @organizations.each do |organization| %>
          <tr>
            <td>
              <u><%= link_to organization.name, organization %></u><br/>
              <%= smart_truncate(organization.description) %>
            </td>
          </tr>
        <% end %>
      </div>
    </table>
  </div>
</div>

<% if current_user.try(:admin?) %>
  <br/>
  <div style="width:50%;float:left">
    <%= link_to 'New Organization', new_organization_path %>
  </div>
<% end %>
